In [170]:
import pandas as pd

In [171]:
DATA_PATH = '../data/'
START_DATE = '01/02/2007'
END_DATE = '02/02/2007'

In [172]:
car_mpg = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original", delim_whitespace = True, \
 header=None, names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model', 'origin', 'car_name'])

car_mpg['mpg']
car_mpg.mpg
car_mpg.iloc[0,:]

car_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino
...,...,...,...,...,...,...,...,...,...
401,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,1.0,ford mustang gl
402,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,2.0,vw pickup
403,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,1.0,dodge rampage
404,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,1.0,ford ranger
405,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,1.0,chevy s-10

In [173]:
#1
numCar = car_mpg.car_name.value_counts()
print("Number of Car:", numCar.shape[0])
print("Number of attributes:",len(car_mpg.columns))

Number of Car: 312
Number of attributes: 9

In [174]:
car_mpg = pd.read_csv(f'{DATA_PATH}car_mpg_preprocessed.csv')
car_mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car_name,company
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu,chevrolet
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320,buick
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite,plymouth
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst,amc
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino,ford
...,...,...,...,...,...,...,...,...,...,...
401,27.0,4.0,140.0,86.0,2790.0,15.6,82.0,1.0,ford mustang gl,ford
402,44.0,4.0,97.0,52.0,2130.0,24.6,82.0,2.0,vw pickup,vw
403,32.0,4.0,135.0,84.0,2295.0,11.6,82.0,1.0,dodge rampage,dodge
404,28.0,4.0,120.0,79.0,2625.0,18.6,82.0,1.0,ford ranger,ford
405,31.0,4.0,119.0,82.0,2720.0,19.4,82.0,1.0,chevy s-10,chevy

In [175]:
#2
numCompany = car_mpg.company.value_counts()
print("Number of car company:",numCompany.shape[0])

d = 0
for i in range(0,car_mpg.shape[0]):
    if car_mpg.iloc[i,0] == car_mpg.mpg.max():
        d = i
print("Car have the max MPG:", car_mpg.iloc[d,8])

new = car_mpg.loc[car_mpg['cylinders'] == 8.0]
company = new.company.value_counts()
print("The company produced the most 8-cylinder cars:",company.index[0])

car_name = []
for i in range(0,car_mpg.shape[0]):
    if car_mpg.iloc[i,1] == 3.0:
        car_name.append(car_mpg.iloc[i,8])

def unique(list1,list2):
    list_set = set(list1)
    unique_list = (list(list_set))
    for x in unique_list:
        list2.append(x)

new_car_name = []
unique(car_name,new_car_name)
print("Name of cars have 3 cylinders:",new_car_name)

Number of car company: 38
Car have the max MPG: mazda glc
The company produced the most 8-cylinder cars: ford
Name of cars have 3 cylinders: ['mazda rx-7 gs', 'mazda rx2 coupe', 'mazda rx-4', 'maxda rx3']

In [176]:
#3
car_mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin
count,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000
mean,23.504433,5.475369,194.779557,105.081281,2979.413793,15.519704,75.921182,1.568966
std,7.738736,1.712160,104.922458,38.480533,847.004328,2.803359,3.748737,0.797479
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,105.000000,76.000000,2226.500000,13.700000,73.000000,1.000000
50%,23.000000,4.000000,151.000000,95.000000,2822.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,302.000000,129.000000,3618.250000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000